.left {
  float: left;
}

.right {
  float: right;
}

.gray {
  color: $gray;
}

.dark-blue {
  color: $dark_blue;
}

.bold {
  font-weight: bold;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}
