$white: #fff;
$gray: #999;
$dark_blue: #253141;
$sky_blue: #38aef0;
$message_background_color: #F9F9F9;
$form_background_color: #ddd;

$font_size_large: 1.5vw;
$font_size_midium: 1.1vw;
$font_size_small: 0.7vw;

$letter_sapce: 2px;
